@import "tailwindcss";
@plugin '@tailwindcss/forms';

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/mint";

@import "@fontsource-variable/comfortaa";

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

[data-theme="mint"] {
  --heading-font-family: "Comfortaa Variable", system-ui;
  --base-font-family: "Comfortaa Variable", system-ui;
  --anchor-font-family: "Comfortaa Variable", system-ui;
}
